<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
    <div class="main-content">
                
        <div class="header">
            <div class="search-bar">
                <form action="/search" method="GET">
                    <input type="text" name="search" placeholder="Search">
                </form>
            </div>
            <div class="admin-profile mx-3">
                <a href="/settings">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
        </div>
        <div class="brudcrumbs"><a href="/products">Products</a> > <a href="/add-products">Add Products</a> > Add Brands </div>


add product
        

    </div> 

</body>
<%- include('partials/footer') %> 
</html>
