<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <div class="main-content">
    <div class="header">
      <div class="search-bar">
        <form action="/search-user" method="GET">
          <input type="text" name="search" placeholder="Search User" />
          <button class="admin-search-button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="admin-profile mx-3">
        <a href="/settings">
          <i class="fa-solid fa-circle-user"></i>
        </a>
      </div>
    </div>

    <div class="breadcrumbs">
      <a href="/brands">Brands</a> > <a href="/add-new-brand">Add New Brand</a>
    </div>

    <div class="brand-page-add">
        
      <form action="/admin/add-new-brand" method="POST" enctype="multipart/form-data">
        <div class="form-sections">
            
          <div class="brand-page-add-box">
            <h4>Add New Brand</h4>
            <label for="name">Brand Name</label>
            <input type="text" name="name" id="name" placeholder="Brand name" required />
            <label for="description">Brand Description</label><br>
            <textarea id="description" name="description" placeholder="Brand description"></textarea>
          </div>

          <div class="brand-page-add-box">
            <div class="image-upload-container">
              <label for="image" class="custom-image-input">
                <img id="imagePreview" src="#" alt="Upload New Image" />
              </label>
              <input
                type="file"
                id="image"
                name="image"
                accept="image/*"
                onchange="previewImage(event)"
                style="display: none;"
                required
              />
            </div>

            <button type="submit" class="large-button-pink mr-5 px-5">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>

  <script>
    function previewImage(event) {
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.onload = function () {
        const imagePreview = document.getElementById("imagePreview");
        imagePreview.src = reader.result;
        imagePreview.style.display = "block";
      };

      if (file) {
        reader.readAsDataURL(file);
      }
    }
  </script>
</html>
