<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body class="admin-container">

    <div class="main-content">
        <div class="header">
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <div class="admin-profile mx-3">
                <a href="/settings">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
        </div>
        <div class="brudcrumbs">brudcrumbs</div>
    </div>

</body>
<%- include('partials/footer') %> 
</html>