<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 


        <div class="dashboard-summary">
            <div class="dashboard-summary1">
                <h3>Total Users</h3>
                <p>40,689</p>
                <p1><i class="fa-solid fa-chart-simple"></i> 8.5% <p2>Up from last month</p2></p1>
            </div>
            <div class="dashboard-summary2">
                <h3>Total Orders</h3>
                <p>10,293</p>
                <p1><i class="fa-solid fa-chart-simple"></i> 1.5% <p2>Up from last month</p2></p1>
            </div>
            <div class="dashboard-summary3">
                <h3>Total Sales</h3>
                <p>$89,000</p>
                <p2><i class="fa-solid fa-chart-simple"></i> 4.5% Down from last month</p2>
            </div>
            <div class="dashboard-summary4">
                <h3>Total Sales</h3>
                <p>$89,000</p>
                <p1><i class="fa-solid fa-chart-simple"></i> 8.5% <p2>Up from last month</p2></p1>
            </div>
        </div>

        <div class="sales-chart">
            <h3>Sales Details</h3>
            <div>
                <!-- Insert chart here using a library like Chart.js or Google Charts -->
                <p>Chart Placeholder</p>
            </div>
        </div>

        <table class="all-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00001</td>
                    <td>Christina Brooks</td>
                    <td>08B Ketch Green Apt. 448</td>
                    <td>Main</td>
                    <td>Completed</td>
                </tr>
                <tr>
                    <td>00002</td>
                    <td>Rosie Pearson</td>
                    <td>579 Immartual Ferry Suite 926</td>
                    <td>Luxury</td>
                    <td>Processing</td>
                </tr>
                <tr>
                    <td>00003</td>
                    <td>Ana De Armas</td>
                    <td>8587 Fridas Ports</td>
                    <td>Women</td>
                    <td>Shipped</td>
                </tr>
                <tr>
                    <td>00004</td>
                    <td>Christina Brooks</td>
                    <td>08B Ketch Green Apt. 448</td>
                    <td>Main</td>
                    <td>Completed</td>
                </tr>
                <tr>
                    <td>00005</td>
                    <td>Christina Brooks</td>
                    <td>08B Ketch Green Apt. 448</td>
                    <td>Main</td>
                    <td>Completed</td>
                </tr>
            </tbody>
        </table>
    </div> <!-- <div class="main-content"></div> -->

</body>
<%- include('partials/footer') %> 
</html>
