<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 

<div class="main-content">
    <div class="header">
        <div class="search-bar">
            <form action="/search-user" method="GET">
                <input type="text" name="search" placeholder="Search User">
                <button  class="admin-search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="admin-profile mx-3">
            <a href="/settings">
                <i class="fa-solid fa-circle-user"></i>
            </a>
        </div>
    </div>

    <div class="breadcrumbs"><a href="/category">Cateory</a> > <a href="/add-offer">Add Offer</a></div>

    <div>
        <div class="add-coupon-box mb-1">
            <h5 class="m-0">Add Offer for Category: <%= category.name %></h5>
            <!-- Form to add an offer -->
            <form action="/add-offer/<%= category._id %>" method="POST">
                <label for="offerType">Offer Type:</label>
                <select name="offerType" id="offerType">
                    <option value="percentage">Percentage</option>
                    <option value="flat">Flat Amount</option>
                </select>

                <label for="offerValue">Offer Value:</label>
                <input type="number" name="offerValue" id="offerValue" required>

                <label for="description">Description:</label>
                <input type="text" name="description" id="description" required>

                <label for="startDate">Start Date:</label>
                <input type="date" name="startDate" id="startDate" required>

                <label for="endDate">End Date:</label>
                <input type="date" name="endDate" id="endDate" required>

                <button type="submit">Add Offer</button>
            </form>
       </div>

        
    </div>


</div>

<%- include('partials/footer') %> 
</html>
