<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body class="admin-container">
    <div class="sidebar">
        <h2 class="mx-4 mb-3 mt-2">Glowly</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/products">Products</a>
        <a href="orderlists" class="active">Order Lists</a>
        <a href="/users">Users</a>
        <a href="/sales-report">Sales Report</a>
        <a href="coupons">Coupons</a>
        <a href="category">Category</a>
        <a href="banner-management">Banner Management</a>
        <a href="settings">Settings</a>
        <a href="logout">Logout</a>
    </div>

    <div class="main-content">
        <div class="header">
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <div class="admin-profile mx-3">
                <a href="/settings">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
        </div>
        <div class="brudcrumbs">brudcrumbs</div>
    </div>

</body>
<%- include('partials/footer') %> 
</html>