<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body class="auth-body">
    <div class="auth-container">
        <h3 class="m-2">Forgot Password &nbsp;&nbsp; <i class="fa-solid fa-lock"></i></h3>
        <p class="m-2">Enter Your Email And We Will Send You Instructions To Reset Your Password </p>
        <% if (msg) { %>
            <div class="alert <%= msg.type === 'error' ? 'alert-error' : 'alert-success' %>">
              <%= msg.msg %>
            </div>
          <% } %>
        <form action="/forgot-password" method="POST">
            <div class="wave-group">
                <input type="email" class="input email" name="email" required>
                <span class="bar"></span>
                <label class="label">
                    <span class="label-char" style="--index: 0">E</span>
                    <span class="label-char" style="--index: 1">m</span>
                    <span class="label-char" style="--index: 2">a</span>
                    <span class="label-char" style="--index: 3">i</span>
                    <span class="label-char" style="--index: 4">l</span>
                </label>
            </div>
            <button type="submit" class="btn m-2 action-btn">Send OTP</button>
        </form>
        <p>Back to <a href="/login">Login ?</a></p>
    </div>
</body>
<%- include('partials/footer') %> 
</html>