<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headforhome', { name: name }) %>
    <div class="user-contents">
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>

        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
        <div>sfadfsdfsfsdfasdfs</div>
    </div>
    






</body>
<%- include('partials/footerforhome') %> 
</html>