<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headforhome', { name: name }) %>
    <div class="user-contents">
        <div class="product-card">
            <img src="/uploads/1734685446064-l-oreal-paris-infallible-full-wear-concealer-312-10-g-99_4_display_1727942443_31f84ba7.jpg" alt="Product Image" />
            <div class="product-card-like"><i class="fa-regular fa-heart"></i></div>
            <!-- <h5 class="product-name">Product Name</h5> -->
            <p class="product-description">Short description of the productcvcvxcvxcvxcvxcvxcvxcvxcvxcvxcvxcvxcvxc...</p>
            <div class="product-prices-box">
                <p class="sale-price">$99.99</p>
              <p class="original-price mx-2">$999.99</p>
              <p class="product-rating">★★★★☆</p>
            </div>
            
            <button class="add-to-cart-btn">Add to Cart</button>
        </div>
          
    </div>
    






</body>
<%- include('partials/footerforhome') %> 
</html>