<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <nav>
        <div class="nav-offer">
            <div class="nav-offer1">Nav offer and app</div>
            <div class="nav-offer2">
                <div class="nav-offer-content"><a href="#"><i class="fa-solid fa-mobile-screen-button"></i>GET APP</a></div>
                <div class="nav-offer-content"><a href="#"><i class="fas fa-truck"></i>TRACK ORDER</a></div>
                <div class="nav-offer-content"><a href="#"><i class="fas fa-question-circle"></i>HELP</a></div>
            </div> 
        </div>
        <div class="nav-bar">
            <div class="nav-bar-logo">Glowly</div>
            <div class="nav-bar-lists">
                <ul>  
                    <li>HOME</li>
                    <li>SHOP CATEGORIES</li>
                    <li>BRANDS</li>
                    <li>NEW</li>
                    <li>LUXURY</li>
                </ul>
            </div>
            <div class="nav-bar-search">
                <form action="" method="POST">
                    <input type="text" id="nav-search" name="nav-search" placeholder="Search Product and Brands"> 
                   <button  class="nav-bar-search-button"><i class="fas fa-search"></i></button>
                </form>
                
                
            </div>
            <div class="nav-bar-last">
                <a href="/login">Log in</a>
                <button class="nav-bar-last-signup-btn">
                    <a href="/signup">Sign Up</a>
                </button> 
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-circle-user"></i>
            </div>
        </div>
        <div class="horizontal-line"><hr></div>

    </nav>
    
    <a href="/logout">logout</a>
    <!-- <div class="demo">sdfsdfsdddddddddddddddddd</div> -->
</body>
<%- include('partials/footer') %> 
</html>