<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headforhome', { name: name, categories: categories }) %>

    <div class="user-contents">
        <div class="container my-2">
            <div class="brudcrumbs-user-menu"><a href="/home">Home</a> > <a href="/my-account">My Account</a></div>
            <div class="row">
              <!-- Left Side Box -->
              <div class="col-md-3">
                <div class="card shadow-sm user-menu">
                    <hr>
                    <a href="/my-account"  class="active"><i class="fas fa-user"></i> &nbsp; My Account</a><hr>
                    <a href="/manage-address"><i class="fa-solid fa-shop"></i> &nbsp; Manage Address</a><hr>
                    <a href="/my-coupns"><i class="fa-solid fa-gift"></i> &nbsp; My Coupns</a><hr>
                    <a href="/my-wishlist"><i class="fa-solid fa-heart"></i> &nbsp; My Wishlist</a><hr>
                    <a href="/my-wallet"><i class="fa-solid fa-wallet"></i> &nbsp; My Wallet</a><hr>
                    <a href="/my-orders"><i class="fa-solid fa-truck"></i> &nbsp; My Orders</a><hr>
                    <a href="/logout"><i class="fa-solid fa-power-off"></i> &nbsp; Logout</a><hr>
                </div>
              </div>
              
              <!-- Right Side Box -->
              <div class="col-md-9">
                <div class="card shadow-sm p-4 user-menu-account">
                  
                  <form action="/my-account" method="POST">
                    <div class="d-flex flex-column align-items-center">
                        <h5 class="card-title m-0">Your Details</h5>
                        <p>Personal information</p>
                        <div class="mb-3"><i class="fa-solid fa-circle-user"></i></div>
                        
                        <div class="d-flex">
                            <div>
                                <label for="name">Name</label><br>
                                <input type="text" name="name" id="name" placeholder="hai">
                            </div>
                            <div>
                                <label for="date-of-birth">Date Of Birth</label><br>
                                <input type="date" name="date-of-birth" id="date-of-birth">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <label for="city">City</label><br>
                                <input type="text" name="city" id="city" placeholder="hai">
                            </div>
                            <div>
                                <label for="district">District</label><br>
                                <input type="text" name="district" id="district">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <label for="state">State</label><br>
                                <input type="text" name="state" id="state" placeholder="hai">
                            </div>
                            <div>
                                <label for="country">Country</label><br>
                                <input type="text" name="country" id="country">
                            </div>
                        </div>
                        <div>
                            <label for="address">Address</label><br>
                            <textarea name="address" id="address"></textarea>
                        </div>
                        <div class="d-flex">
                            <div>
                                <label for="pincode">Pincode</label><br>
                                <input type="number" name="pincode" id="pincode">
                            </div>
                            <div>
                                <label for="address-type">Address Type</label><br>
                                <input type="checkbox" id="address-type" name="address-type" value="home"> Home
                                <input type="checkbox" id="address-type" name="address-type" value="work"> Work
                            </div>
                            <div>
                                <label for="land-mark">landMark</label><br>
                                <input type="text" name="landMark" id="landMark">
                            </div>
                        </div>
                        <div class="d-flex flex-column"> 
                            <div class="d-block"><h5>Contact information</h5>  </div>
                            <div class="d-flex">
                                <div>     
                                    <label for="phone-no">Phone Number</label><br>
                                    <input type="number" name="phone-no" id="phone-no" placeholder="+91 9987452314">
                                </div>
                                <div>
                                    <label for="email">Email</label><br>
                                    <input type="email" name="email" id="email" placeholder="anndearmas@gmail.com">
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="alternative-no">Alternate Number (optional)</label><br>
                            <input type="number" name="alternative-no" id="alternative-no" placeholder="+91 9834274898">
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
    </div>
    
    






</body>
<%- include('partials/footerforhome') %> 

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const quantityInput = document.getElementById('quantity');
      const increaseButton = document.getElementById('increase-btn');
      const decreaseButton = document.getElementById('decrease-btn');

      increaseButton.addEventListener('click', function () {
          if (quantityInput.value < 7) {
              quantityInput.value++;
          }
      });
      decreaseButton.addEventListener('click', function () {
          if (quantityInput.value > 1) {
              quantityInput.value--;
          }
      });

      quantityInput.addEventListener('input', function () {
          quantityInput.value = Math.max(1, Math.min(7, quantityInput.value));
      });
  });

</script>
</html>