<!DOCTYPE html>
<html lang="en">
<%- include('partials/headforhome', { user, categories }) %>

<div class="user-contents">
  <div class="container my-2">
    <div id="breadcrumbs" class="brudcrumbs-user-menu"><a href="/home">Home</a> > <a href="/my-account">My Account</a> > <a href="/my-orders">My Orders</a></div>
    <div class="row">
      <!-- Left Side Box -->
      <div class="col-md-3">
        <div class="card shadow-sm user-menu">
          <hr>
          <a href="/my-account"><i class="fas fa-user"></i> &nbsp; My Account</a>
          <hr>
          <a href="/manage-address"><i class="fa-solid fa-shop"></i> &nbsp; Manage Address</a>
          <hr>
          <a href="/my-coupns"><i class="fa-solid fa-gift"></i> &nbsp; My Coupns</a>
          <hr>
          <a href="/my-wishlist"><i class="fa-solid fa-heart"></i> &nbsp; My Wishlist</a>
          <hr>
          <a href="/my-wallet" class="active"><i class="fa-solid fa-wallet"></i> &nbsp; My Wallet</a>
          <hr>
          <a href="/my-orders"><i class="fa-solid fa-truck"></i> &nbsp; My Orders</a>
          <hr>
          <a href="/logout"><i class="fa-solid fa-power-off"></i> &nbsp; Logout</a>
          <hr>
        </div>
      </div>

      <!-- Right Side Box -->
      <div class="col-md-9">
        <div class="card shadow-sm p-4 user-menu-wishlist">
            sdfsdf
        </div>
      </div>
    </div>
  </div>
</div>


<div id="customPopup" class="popup hidden">
  <div class="popup-content">
    <h5 id="popupTitle" class="popup-title">Are you sure?</h5>
    <p id="popupText" class="popup-text">Once canceled, it can't be undone!</p>
    <div class="popup-buttons">
      <button id="confirmButton" class="popup-button confirm">Yes, cancel it!</button>
      <button id="cancelButton" class="popup-button cancel">No, keep it</button>
    </div>
  </div>
</div>

<%- include('partials/footerforhome') %>

<script>
  const toastSuccess = (message) => {
      iziToast.success({
        message: message,
        backgroundColor: '#0e932d',
        messageColor: '#FFFFFF',
        icon: 'fa fa-check',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',

      });
    };

    const toastError = (message) => {
      iziToast.error({
        message: message,
        backgroundColor: '#e51e1e',
        messageColor: '#FFFFFF',
        icon: 'fa fa-times',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };
    const toastInfo = (message) => {
      iziToast.info({
        message: message,
        backgroundColor: '#2160de',
        messageColor: '#FFFFFF',
        icon: 'fa fa-info-circle',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };

    const toastWarning = (message) => {
      iziToast.warning({
        message: message,
        backgroundColor: '#e5811e',
        messageColor: '#212529',
        icon: 'fa fa-exclamation-triangle',
        iconColor: '#212529',
        timeout: 1500,
        size: 'small',
        position: 'topRight',
      });
    };


</script>
</html>