<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body class="auth-body">

        <div class="auth-container">
            <div class="otp-icon-message">
                <i class="fa-solid fa-circle-check otp-icon"></i>
            </div>
            <form action="/otp-verification">
                <h3 class="m-2">OTP is successfully sent to your registered Email</h3>
                <p class="m-2">Please check the spam folder</p>
                <button class="btn action-btn">Next</button>
            </form>
        </div>

</body>
<script src="/js/script.js"></script>
<%- include('partials/footer') %> 
</html>